<div class="main-container">
    <app-top-bar></app-top-bar>

    <div class="auth-container ml-auto mr-auto">
        @if(resultCode() == null || resultCode() == 'invalid-token') {
            <form class="auth-form" (submit)="onResetPassword()" [formGroup]="formGroup">
                <div class="auth-field">
                    <label 
                        class="auth-field__label"
                        for="password">
                        Password
                    </label>
        
                    <input 
                        class="auth-field__input"
                        id="password"
                        type="password" 
                        placeholder="Enter new password"
                        formControlName="password" >
    
                    @if(password.touched || wasSubmitted) {
                        @if (password.hasError('required')) {
                            <mat-error>Password is <strong>required</strong></mat-error>
                        }
                        @else if (password.hasError('minlength')) {
                            <mat-error>Password must be at least 8 characters long</mat-error>
                        }
                        @else if (password.hasError('pattern')) {
                            <mat-error>Password must contain at least one lowercase and uppercase letter, one number and one special character</mat-error>
                        }
                    }
                </div>
    
                <div class="auth-field">
                    <label 
                        class="auth-field__label"
                        for="confirmed-password">
                        Confirm Password
                    </label>
        
                    <input 
                        class="auth-field__input"
                        id="confirmed-password"
                        type="password" 
                        placeholder="Confirm your new password"
                        formControlName="confirmedPassword">
    
                    @if(confirmedPassword.touched || wasSubmitted) {
                        @if (confirmedPassword.hasError('required')) {
                            <mat-error>Confirmed password is <strong>required</strong></mat-error>
                        }
                        @else if (confirmedPassword.value !== password.value) {
                            <mat-error>Passwords must match</mat-error>
                        }
                    }
                </div>

                @if(resultCode() == 'invalid-token'){
                    <mat-error>Reset password link is invalid or expired</mat-error>
                }   

                <button     
                    type="submit" 
                    class="auth-field__btn" 
                    [class.auth-field__btn--loading]="isLoading()"
                    mat-flat-button
                    aria-label="Reset Password"
                    [disabled]="isLoading()">
                    Reset Password
                </button>
            </form>
        }
        @else if(resultCode() == 'password-reset') {
            <div class="auth-form">
                <div>
                    Your password has been updated. 
                </div>
    
                <button type="submit" 
                    class="auth-field__btn" mat-flat-button
                    [class.auth-field__btn--loading]="isLoading()"
                    aria-label="Go to login page"
                    (click)="goToLoginPage()"
                    [disabled]="isLoading()">
                    Go to login page
                </button>
            </div>
        }
    </div>  

    <div class="spacer"></div>

    <div class="mt-auto">
        <app-footer></app-footer>
    </div>
</div>
