@forward "./../../../styles/files-explorer-container.scss";
@forward "./../../../styles/nothing-to-show.scss";
@forward "./../../../styles/empty-state.scss";

:host {
    display: block;
    max-height: 100%;
}

.external-link-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    padding-top: 1rem;
}

.powered-by {
    padding-top: 0.5rem;
    font-size: var(--company-medium-font);
    color: var(--company-grey-font);
}