@if(isBoxLoaded()) {
    @if(isTurnedOn()){            
        <div class="files-explorer-container">
            <app-files-explorer #filesExplorer
                [filesApi]="filesApi()"
                [uploadsApi]="uploadsApi()"
                [workspaceExternalId]="sortScopeKey()"
                [scrollToTopOnOpen]="true"

                [initialContent]="initialBoxContent()"

                [allowList]="allowList()"
                [allowCreateFolder]="allowCreateFolder()"
                [allowUpload]="allowUpload()"
                [allowMoveItems]="allowMoveItems()"

                [allowFolderRename]="allowRenameFolder()"
                [allowFolderDelete]="allowDeleteFolder()"

                [allowFileRename]="allowRenameFile()"
                [allowFileDelete]="allowDeleteFile()"
                [allowDownload]="allowDownload()"

                [currentFolderExternalId]="currentFolderExternalId()"
                (folderSelected)="onFolderSelected($event)"

                [currentFileExternalIdInPreview]="currentFileExternalIdInPreview()"
                (filePreviewed)="onFilePreviewed($event)">    
            </app-files-explorer>
        </div>
       
        <div class="powered-by">
            Powered by: <a class="powered-by-link" href="https://plikshare.com" target="_blank">plikshare.com</a>
        </div>
    } @else {
        <div class="empty-state">
            <div class="empty-state__icon-wrap">
                <i class="icon icon-nucleo-lock empty-state__icon"></i>
            </div>
            <div class="empty-state__title">This box is disabled</div>
            <div class="empty-state__text">It was temporarily disabled by the owner.</div>
        </div>
    }
}