<div class="app-container external-link-container">
    @if(isBoxLoaded()) {
        @if(isTurnedOn()){
            @if(headerHtml(); as headerHtmlValue) {
                <div [innerHTML]="headerHtmlValue"></div>
                <div class="mt-4"></div>
            }
            
            <div class="files-explorer-container">
                <app-files-explorer #filesExplorer
                    [filesApi]="filesApi()"
                    [uploadsApi]="uploadsApi()"
                    [workspaceExternalId]="sortScopeKey()"

                    [initialContent]="initialBoxContent()"

                    [initialViewMode]="details()?.defaultViewMode ?? 'list-view'"
                    [initialSortMode]="details()?.defaultSortMode ?? 'custom'"
                    [initialSortDirection]="details()?.defaultSortDirection ?? 'asc'"
                    [initialShowThumbnails]="details()?.defaultThumbnailsEnabled ?? false"

                    [allowList]="allowList()"
                    [allowCreateFolder]="allowCreateFolder()"
                    [allowUpload]="allowUpload()"
                    [allowMoveItems]="allowMoveItems()"

                    [allowFolderRename]="allowRenameFolder()"
                    [allowFolderDelete]="allowDeleteFolder()"

                    [allowFileRename]="allowRenameFile()"
                    [allowFileDelete]="allowDeleteFile()"
                    [allowDownload]="allowDownload()"

                    [currentFolderExternalId]="currentFolderExternalId()"
                    (folderSelected)="onFolderSelected($event)"

                    [currentFileExternalIdInPreview]="currentFileExternalIdInPreview()"
                    (filePreviewed)="onFilePreviewed($event)">
                </app-files-explorer>
            </div>
           
            <div class="powered-by">
                Powered by: <a class="powered-by-link" href="https://plikshare.com" target="_blank">plikshare.com</a>
            </div>
                    
            <div class="mt-4"></div>
    
            @if(footerHtml(); as footerHtmlValue) {
                <div [innerHTML]="footerHtmlValue"></div>
                <div class="mt-4"></div>
            }
        } @else {
            <div class="empty-state">
                <div class="empty-state__icon-wrap">
                    <i class="icon icon-nucleo-lock empty-state__icon"></i>
                </div>
                <div class="empty-state__title">This box is disabled</div>
                <div class="empty-state__text">It was temporarily disabled by the owner.</div>
            </div>
        }
    }
</div>