<div class="item-bar flex-row">
    <div class="item"
        [class.item--highlighted]="isHighlighted()"
        [class.item--in-background]="areActionsVisible()">
        <i class="icon icon-xl icon-lucide-key"></i>

        <div class="item__details">
            <div class="item__title">
                {{name()}}
            </div>

            <div class="item__subtitle">
                <span>Type: {{type()}}</span>
            </div>

            <div class="item__subtitle">
                <span>{{issuerUrl()}}</span>
            </div>
        </div>
    </div>

    <div class="item-bar__actions">
        <app-action-btn
            tooltip="Edit"
            icon="icon-nucleo-pen"
            [class.d-none-on-mobile]="!areActionsVisible()"
            (clicked)="onEdit()">
        </app-action-btn>

        @if(!isActive()) {
            <app-action-btn
                tooltip="Activate"
                icon="icon-lucide-circle-check"
                [class.d-none-on-mobile]="!areActionsVisible()"
                (clicked)="onActivate()">
            </app-action-btn>
        } @else {
            <app-action-btn
                tooltip="Deactivate"
                icon="icon-lucide-circle-xmark"
                [class.d-none-on-mobile]="!areActionsVisible()"
                (clicked)="onDeactivate()">
            </app-action-btn>
        }

        <app-action-btn
            tooltip="Delete"
            icon="icon-nucleo-remove"
            [class.d-none-on-mobile]="!areActionsVisible()"
            [operationItem]="'this auth provider'"
            [verb]="'delete'"
            [isOperationDanger]="true"
            appConfirmOperation
            (confirmedClick)="delete()">
        </app-action-btn>

        <app-action-btn
            tooltip="Actions"
            icon="icon-lucide-dots"
            class="d-none-on-desktop"
            (clicked)="toggleActions()">
        </app-action-btn>
    </div>
</div>
