<div #listHost
    class="files-list"
    appFlipAnimation #filesFlip="appFlipAnimation"
    [style.height.px]="totalHeightPx()">

    @for(row of renderedFiles(); track row.file.externalId) {
        <app-file-item
            class="virtual-file-row"
            [class.forced-hover]="row.file.externalId === hoverHighlightId()"
            (mouseenter)="hoveredItemChanged.emit(row.file.externalId)"
            (mouseleave)="hoveredItemChanged.emit(null)"
            [style.top.px]="row.index * rowHeightPx"
            appDraggableItem
            [draggableType]="'file'"
            [draggableExternalId]="row.file.externalId"
            [draggableDisabled]="row.file.isNameEditing() || !canReorder()"
            appDropTarget
            [dropMode]="'two-zone'"
            (dragStarted)="onFileDragStarted(row.file.externalId)"
            (dragOverItem)="onFileDragOverItem(row.file, $event)"
            (droppedAt)="onFileDroppedAt(row.file, $event)"
            [file]="row.file"
            [highlightPhrase]="searchPhrase()"
            [canReorder]="canReorder()"
            [showThumbnails]="showThumbnails()"
            [isProcessing]="processingFileIds().has(row.file.externalId)"
            [operations]="operations()"
            [hideActions]="hideActions()"
            [hideDownloadAction]="true"
            [hideSelectCheckbox]="hideSelectCheckboxes()"
            [permissions]="permissions()"
            (deleted)="deleted.emit(row.file)"
            (previewed)="previewed.emit(row.file)"
            (selectionToggled)="onFileSelectionToggled(row.file)"
            (shiftClicked)="onFileShiftClicked(row.file)">
        </app-file-item>
    }
</div>

@if(hasNoListSearchMatches()) {
    <div class="mt-1"></div>

    <div class="nothing-to-show">
        <div class="nothing-to-show__label">
            No files match your search
        </div>
    </div>

    <div class="mt-2"></div>
}
