<div class="questionaire">
    <div class="questionaire__title">
        Add AWS SES
    </div>

    <form class="questionaire__form" (submit)="onSubmitConfiguration()" [formGroup]="configFormGroup">
        <div>
            <mat-form-field class="questionaire__form-field">
                <mat-label>Name</mat-label>
    
                <input 
                    id="name"
                    type="text" 
                    formControlName="name"
                    placeholder="My SES email provider"
                    matInput>
    
                @if ((name.touched || wasSubmitted()) && name.hasError('required')) {
                    <mat-error>Name is <strong>required</strong></mat-error>
                }
    
                @if ((name.touched || wasSubmitted()) && name.hasError('notUnique')){
                    <mat-error>Name is <strong>not unique</strong></mat-error>        
                }
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="questionaire__form-field">
                <mat-label>Send email from</mat-label>
    
                <input 
                    id="emailFrom"
                    type="text" 
                    formControlName="emailFrom"
                    placeholder="PlikShare <service@plikshare.com>"
                    matInput>
    
                @if ((emailFrom.touched || wasSubmitted()) && name.hasError('required')) {
                    <mat-error>Send email from is <strong>required</strong></mat-error>
                }
            </mat-form-field>
    
            <div class="questionaire__info">
                This setting defines the &ldquo;From&rdquo; address displayed to recipients of system-generated emails, such as password reset requests or workspace invitations.
                Expected format: <br> PlikShare &lt;service&#64;plikshare.com&gt;
            </div>
        </div>

        <div class="questionaire__section-title">
            Configuration:
        </div>

        <mat-form-field class="questionaire__form-field">
            <mat-label>Access key</mat-label>

            <input 
                id="accessKey"
                type="text" 
                matInput 
                appSecureInput
                appTrim
                formControlName="accessKey">

            @if ((accessKey.touched || wasSubmitted()) && accessKey.hasError('required')) {
                <mat-error>Access key is <strong>required</strong></mat-error>
            }    
        </mat-form-field>

        <mat-form-field class="questionaire__form-field">
            <mat-label>Secret access key</mat-label>

            <input 
                id="secretAccessKey"
                type="text"
                matInput 
                appSecureInput
                appTrim
                formControlName="secretAccessKey">                            
            
            @if ((secretAccessKey.touched || wasSubmitted()) && secretAccessKey.hasError('required')) {
                <mat-error>Secret access key is <strong>required</strong></mat-error>
            }
        </mat-form-field>

        <app-region-input class="questionaire__form-field"
            [regions]="awsRegions"
            [wasSubmitted]="wasSubmitted()"
            formControlName="region">                    
        </app-region-input>

        @if(couldNotConnect()){
            <mat-error>Email Provider configuration is incorrect - sending confirmation email has failed.</mat-error>        
        }

        <div class="mt-3 d-none-on-mobile"></div>

        <div class="questionaire__actions"> 
            <button type="button" class="questionaire__btn mr-1" mat-flat-button
                aria-label="Cancel"
                (click)="cancel()"
                [disabled]="isLoading()">
                Cancel
            </button>
            
            <button type="submit" class="questionaire__btn" mat-flat-button
                [class.questionaire__btn--disabled]="configFormGroup.invalid"
                [class.questionaire__btn--loading]="isLoading()"
                aria-label="Test configuration"
                [disabled]="isLoading()">
                Test configuration
            </button>
        </div>
    </form>
</div>
