<div class="search">
    <div class="search__input-wrapper">
        <input #searchInput
            class="search__input"
            type="text"
            [value]="phrase()"
            (debouncedChange)="onPerformSearch($event)"
            [debounceTime]="debounce()"
            data-lpignore="true"
            (focus)="isFocused.set(true)"
            (blur)="isFocused.set(false)"
            placeholder="Search...">

        @if(collapsibleOnMobile()) {
            <button type="button"
                class="search__close d-none-on-desktop"
                aria-label="Close search"
                (click)="onCloseClicked()">
                <i class="icon icon-lucide-xmark"></i>
            </button>
        }

        @if(isFocused()) {
            @if(count(); as countValue) {
                <div class="search__count">
                    {{countValue.matchingItems}} / {{countValue.allItems}}
                </div>
            }
        }
    </div>
</div>
