<div class="op-details__section-title">
    Bulk download - create ZIP link
</div>

@if(details().folders.length > 0) {
    <div class="op-details__section-title">Folders</div>
    @for(folder of details().folders; track folder.externalId) {
        <div class="op-details__item"
            [class.op-details__item--clickable]="workspaceExternalId()"
            (click)="openFolder(folder)">
            <i class="icon icon-xl icon-nucleo-folder op-details__icon"></i>
            <div class="op-details__text">
                <div class="op-details__name">{{ folder.name }}</div>
                @if(folder.path) {
                    <div class="op-details__path">{{ folder.path }}</div>
                }
            </div>
        </div>
    }
}

@if(details().files.length > 0) {
    <div class="op-details__section-title">Files</div>
    @for(file of details().files; track file.externalId) {
        <div class="op-details__item"
            [class.op-details__item--clickable]="workspaceExternalId()"
            (click)="openFile(file)">
            <i class="icon icon-xl icon-nucleo-file op-details__icon"></i>
            <div class="op-details__text">
                <div class="op-details__name">{{ file.name }}</div>
                @if(file.path) {
                    <div class="op-details__path">{{ file.path }}</div>
                }
            </div>
        </div>
    }
}

@if(details().excludedFolders.length > 0 || details().excludedFiles.length > 0) {
    <div class="op-details__section-title">Excluded</div>
    @for(folder of details().excludedFolders; track folder.externalId) {
        <div class="op-details__item"
            [class.op-details__item--clickable]="workspaceExternalId()"
            (click)="openFolder(folder)">
            <i class="icon icon-xl icon-nucleo-folder op-details__icon"></i>
            <div class="op-details__text">
                <div class="op-details__name">{{ folder.name }}</div>
                @if(folder.path) {
                    <div class="op-details__path">{{ folder.path }}</div>
                }
            </div>
        </div>
    }
    @for(file of details().excludedFiles; track file.externalId) {
        <div class="op-details__item"
            [class.op-details__item--clickable]="workspaceExternalId()"
            (click)="openFile(file)">
            <i class="icon icon-xl icon-nucleo-file op-details__icon"></i>
            <div class="op-details__text">
                <div class="op-details__name">{{ file.name }}</div>
                @if(file.path) {
                    <div class="op-details__path">{{ file.path }}</div>
                }
            </div>
        </div>
    }
}

<div class="op-details__notice">
    <i class="icon icon-md icon-nucleo-info op-details__notice-icon"></i>
    <span>This produces a public ZIP link, valid for {{ details().expiresInMinutes ?? 15 }} minutes - anyone who has it can download these items without signing in, until it expires.</span>
</div>
