@forward "./../../../../../../styles/page-form.scss";
@forward "./../../../../../../styles/mobile-display.scss";
@forward "./../../../../../../styles/app-header.scss";
@forward "./../../../../../../styles/top-bar.scss";
@forward "./../../../../../../styles/top-nav-btn.scss";
@forward "./../../../../../../styles/item-bar.scss";
@forward "./../../../../../../styles/icon-merge.scss";

.email-picker {
    padding: 2rem;
}

.mat-mdc-form-field-error-wrapper {
    padding: 0 !important;
}

.description-box {
    border: 1px solid var(--company-grey-accent-light);
    font-size: var(--company-medium-font);
    color: var(--company-grey-font);
    background-color: white;
    padding: 1rem;

    &--danger {
        color: var(--company-danger);
    }
}


.test-image-container {
    display: flex;
    align-items: center;
}

.test-image {
    max-width: 100%;
    height: auto;
    border: 1px solid var(--company-grey-accent-light);
}

.test-result-container {
    display: flex;
    align-items: center;
    border: 1px dashed var(--company-grey-accent-light);
    background-color: white;
    padding: 1rem;
}