@forward "./../../../styles/hover-switch.scss";
@forward "./../../../styles/app-header.scss";
@forward "./../../../styles/top-bar.scss";
@forward "./../../../styles/covered.scss";
@forward "./../../../styles/top-nav-btn.scss";
@forward "./../../../styles/action-text-btn.scss";
@forward "./../../../styles/item-bar.scss";
@forward "./../../../styles/icon-merge.scss";
@forward "./../../../styles/nothing-to-show.scss";

.config-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}