@forward "./../../../styles/hover-switch.scss";
@forward "./../../../styles/app-header.scss";
@forward "./../../../styles/top-bar.scss";
@forward "./../../../styles/covered.scss";
@forward "./../../../styles/top-nav-btn.scss";
@forward "./../../../styles/action-text-btn.scss";
@forward "./../../../styles/item-bar.scss";
@forward "./../../../styles/icon-merge.scss";

.user-details {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.workspace-config {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}