<div class="app-container">
    <div class="top-bar">
        <div class="top-bar__header">
            <button class="top-nav-btn" 
                aria-label="Account" 
                mat-flat-button  
                matTooltip="Go back to users"
                matTooltipPosition="below"
                (prefetch)="dataStore.prefetchUsers()"
                (click)="goToUsers()">                 
                <div class="icon-merge">
                    <i class="icon icon-lg icon-lucide-chevron-left icon-merge--back"></i>   
                    <i class="icon icon-xl icon-nucleo-account icon-merge--front"></i>   
                </div>
            </button> 

            <div class="flex-column">
                <div class="top-bar__title">
                    User details
                </div>

                <div class="top-bar__subtitle">
                    {{ email() }}
                </div>
            </div>
        </div>
    </div>    

    <div class="content"> 
        <div class="mt-3"></div>
        
        @if(user(); as userValue) {
            <div class="title-header">  
                <div>
                    User details:
                </div>
    
                <div class="flex-row flex-gap-05 ml-auto">
                    @if(canBeDeleted()) {
                        <app-action-btn
                            tooltip="{{hasAnyWorkspaces() ? 'Cannot delete user with workspaces. Delete or reassign his workspaces first.' : 'Delete'}}"
                            icon="icon-nucleo-remove"
                            appConfirmOperation
                            [disabled]="hasAnyWorkspaces()"
                            [isOperationDisabled]="hasAnyWorkspaces()"
                            [operationItem]="'this user'"
                            [verb]="'delete'"
                            [isOperationDanger]="true"
                            (confirmedClick)="deleteUser()">                            
                        </app-action-btn>
                    }
                </div>
            </div>  
    
            <div class="mt-2"></div>   

            <div class="item user-details">
                @if(isAppOwner()) {
                    <i class="icon icon-xl icon-nucleo-user-crown-bold"
                        matTooltip="Application Owner"
                        matTooltipPosition="above"></i>
                } @else if(isAdmin()){
                    <i class="icon icon-xl icon-nucleo-user-crown"
                        matTooltip="Admin"
                        matTooltipPosition="above"></i>
                } @else {
                    <i class="icon icon-xl icon-nucleo-user"
                        matTooltip="User"
                        matTooltipPosition="above"></i>
                }

                <div class="item__details">
                    <div class="item__title">
                        {{ email() }}
                    </div>
        
                    <div class="item__subtitle">
                        @if(!isEmailConfirmed()) {
                            <span class="mr-1">Email not confirmed</span>
                        } @else {
                            <span>Workspaces: {{workspacesCount()}}</span>  
                        }
                    </div>
                </div>
            </div>

            @if(!isAppOwner()) {
                <div class="mt-3"></div>

                <div class="title-header">  
                    <div>
                        User permissions:
                    </div>
                </div>

                <div class="mt-2"></div>   

                <div class="user-details">
                    <app-user-permissions-list
                        [user]="userValue"
                        (configChanged)="onUserPermissionsAndRolesChange($event)">                            
                    </app-user-permissions-list>
                </div> 
                
                <div class="mt-3"></div>

                <div class="title-header">  
                    <div>
                        Max number of workspaces:
                    </div>
                </div>

                <div class="mt-2"></div>
                
                <div class="user-details">
                    <app-max-workspace-number-config
                        [maxNumber]="maxWorkspaceNumber()"
                        (configChanged)="onMaxWorkspaceNumberChange($event)">                        
                    </app-max-workspace-number-config>
                </div>   

                <div class="mt-3"></div>

                <div class="title-header">  
                    <div>
                        Default workspace configuration:
                    </div>
                </div>

                <div class="mt-2"></div>
                
                <div class="user-details">
                    <app-workspace-size-config
                        [maxSizeInBytes]="defaultMaxWorkspaceSizeInBytes()"
                        (configChanged)="onDefaultMaxWorkspaceSizeInBytesChange($event)">                        
                    </app-workspace-size-config>
                </div>              
            }
        }

        @if(hasAnyWorkspaces()) {
            <div class="mt-3"></div>

            <div class="title-header">  
                <div>
                    Workspaces owned by User:
                </div>
            </div>   

            <div class="mt-2"></div>    
        
            @for(workspace of workspaces(); track workspace.externalId) {
                <app-workspace-item 
                    [workspace]="workspace"
                    [canOpen]="!isAnyNameEditing()"
                    [isAdminView]="true"
                    [canLocate]="false"
                    (deleted)="onWorkspaceDelete(workspace)"
                    (ownerChanged)="onWorkspaceOwnerChanged(workspace)">
                </app-workspace-item>
            }
        }   
      
        @if(hasAnySharedWorkspace()) {
            <div class="mt-3"></div>

            <div class="title-header">  
                <div>
                    Shared workspaces:
                </div>
            </div>   

            <div class="mt-2"></div>    
        
            @for(workspace of sharedWorkspaces(); track workspace.externalId) {
                <app-workspace-item 
                    [workspace]="workspace"
                    [canOpen]="!isAnyNameEditing()"
                    [isAdminView]="true"
                    [canLocate]="false"
                    (deleted)="onSharedWorkspaceDelete(workspace)"
                    (accessRevoked)="onWorkspaceAccessRevoked(workspace)"
                    (ownerChanged)="onSharedWorkspaceOwnerChanged(workspace)">
                </app-workspace-item>
            }
        }   

        @if(hasAnyWorkspaceInvitation()) {
            <div class="mt-3"></div>

            <div class="title-header">  
                <div>
                    Pending workspace invitations:
                </div>
            </div>   

            <div class="mt-2"></div>    
        
            @for(invitation of workspaceInvitations(); track invitation.externalId()) {
                <app-workspace-invitation-item 
                    [invitation]="invitation"
                    [isAdminView]="true"
                    (cancelled)="onWorkspaceAccessRevoked(invitation)">
                </app-workspace-invitation-item>
            }
        }   

        @if(hasAnySharedBox()) {
            <div class="mt-3"></div>  

            <div class="title-header mt-2">
                Shared boxes:
            </div>          

            <div class="mt-2"></div>
            
            @for(box of sharedBoxes(); track box.boxExternalId()) {
                <app-external-box-item
                    [externalBox]="box"
                    [canOpen]="!isAnyNameEditing()"
                    [isAdminView]="true"
                    (permissionsChange)="onBoxPermissionsChange(box)"
                    (accessRevoked)="onBoxAccessRevoked(box)">                        
                </app-external-box-item>
            }
        }

        @if(hasAnyBoxInvitation()) {
            <div class="mt-3"></div>

            <div class="title-header">  
                <div>
                    Pending box invitations:
                </div>
            </div>   

            <div class="mt-2"></div>    
        
            @for(invitation of boxInvitations(); track invitation.boxExternalId()) {
                <app-box-invitation-item 
                    [invitation]="invitation"
                    [isAdminView]="true"
                    (permissionsChange)="onBoxPermissionsChange(invitation)"
                    (cancelled)="onBoxAccessRevoked(invitation)">
                </app-box-invitation-item>
            }
        }  

        <div class="mt-5"></div>
    </div>
</div>