@if(details().currentName) {
    <div class="op-details__section-title">
        File - rename
    </div>

    <div class="op-details__item"
        [class.op-details__item--clickable]="workspaceExternalId()"
        (click)="openFile()">
        <i class="icon icon-xl icon-nucleo-file op-details__icon"></i>
        <div class="op-details__text">
            <div class="op-details__name">
                <span class="op-details__old-name">{{ details().currentName }}</span>
                <span class="op-details__arrow">&#8594;</span>
                {{ details().newName }}
            </div>
            @if(details().path) {
                <div class="op-details__path">{{ details().path }}</div>
            }
        </div>
    </div>
} @else {
    <div class="explanation">
        This file no longer exists.
    </div>
}
