@let zipArchiveVal = zipArchive();
@let summary = selectionSummary();

<div class="archive-box">
    <div class="archive-box__header">
        <div class="flex-row flex-gap-05 flex-align-center pl-1">
            <i class="icon icon-xl icon-{{ fileExtension() | fileIcon }}"></i>
            <span class="archive-box__file-name">{{fileFullName()}}</span>

            <div class="ml-auto flex-row flex-gap-05">
                @if(isArchiveOpened()) {
                    @if(summary.count > 0) {
                        <app-action-btn
                            tooltip="Download selected"
                            icon="icon-nucleo-download"
                            (clicked)="downloadSelected()">
                        </app-action-btn>
                    }

                    <div class="search-container">
                        <app-item-search
                            [fullWidthOnMobile]="true"
                            (searched)="zipSearchPhrase.set($event)">
                        </app-item-search>

                        @if(zipSearchPhrase().length >= 1 && zipSearchPhrase().length < 3) {
                            <div class="search-info">
                                At least 3 characters are required
                            </div>
                        }
                    </div>

                    <app-action-btn
                        tooltip="Close"
                        icon="icon-lucide-xmark"
                        (clicked)="closeArchive()">
                    </app-action-btn>
                } @else {
                    <app-action-btn
                        tooltip="Open"
                        icon="icon-nucleo-archive-search"
                        [isLoading]="zipArchiveVal == null"
                        (clicked)="isArchiveOpened.set(true)">
                    </app-action-btn>
                }
            </div>
        </div>
    </div>

    @if(isArchiveOpened()) {
        <div class="archive-box__content">
            <app-static-file-tree-view
                [fileTree]="zipFileTreeNodes()"
                [searchPhrase]="zipSearchPhrase()"
                [canDownload]="true"
                (fileClicked)="onZipEntryClick($event)"
                (selectionChanged)="treeSelection.set($event)">
            </app-static-file-tree-view>
        </div>
    }
</div>
