<div class="app-container">
    <div class="top-bar">
        <div class="top-bar__header">
            <button class="top-nav-btn" 
                aria-label="Storages" 
                mat-flat-button  
                matTooltip="Go back to storages"
                matTooltipPosition="below"
                (click)="goToStorages()">                 
                <div class="icon-merge">
                    <i class="icon icon-lg icon-lucide-chevron-left icon-merge--back"></i>   
                    <i class="icon icon-xl icon-lucide-server icon-merge--front"></i>   
                </div>
            </button> 

            <div class="flex-column">
                <div class="top-bar__title">
                    Storage settings
                </div>
            </div>
        </div>
    </div>
    

    <div class="content"> 
        <div class="mt-3"></div>

        <div class="title-header">  
            <div>
                Add Azure Blob storage:
            </div>
        </div>  

        <div class="mt-2"></div>   
        
        <form class="page-form" (submit)="onCreateStorage()" [formGroup]="formGroup">
            <div>
                <mat-form-field class="page-form__field">
                    <mat-label>Storage Name</mat-label>
        
                    <input 
                        id="name"
                        type="text" 
                        formControlName="name"
                        placeholder="My Azure Blob storage"
                        matInput>
        
                    @if ((name.touched || wasSubmitted()) && name.hasError('required')) {
                        <mat-error>Storage name is <strong>required</strong></mat-error>
                    }
        
                    @if ((name.touched || wasSubmitted()) && name.hasError('notUnique')){
                        <mat-error>Storage name is <strong>not unique</strong></mat-error>        
                    }
                </mat-form-field>
            </div>

            <div class="page-form__section-title">
                Configuration:
            </div>

            <div class="page-form__encryption">
                <mat-radio-group
                    formControlName="authType"
                    class="page-form__radio-group">

                    <div class="page-form__radio-option">
                        <mat-radio-button value="shared-key">Shared Key</mat-radio-button>
                    </div>

                    <div class="page-form__radio-option">
                        <mat-radio-button value="sas">SAS Token</mat-radio-button>
                    </div>

                    <div class="page-form__radio-option">
                        <mat-radio-button value="entra-id">Microsoft Entra ID</mat-radio-button>
                    </div>
                </mat-radio-group>
            </div>

            @if(authType.value === 'shared-key') {
                <mat-form-field class="page-form__form-field">
                    <mat-label>Account Name</mat-label>

                    <input 
                        id="accountName"
                        type="text" 
                        matInput 
                        appSecureInput
                        formControlName="accountName">

                    @if ((accountName.touched || wasSubmitted()) && accountName.hasError('required')) {
                        <mat-error>Account Name is <strong>required</strong></mat-error>
                    }    
                </mat-form-field>

                <mat-form-field class="page-form__form-field">
                    <mat-label>Account Key</mat-label>

                    <input 
                        id="accountKey"
                        type="text"
                        matInput 
                        appSecureInput
                        formControlName="accountKey">                            

                    @if ((accountKey.touched || wasSubmitted()) && accountKey.hasError('required')) {
                        <mat-error>Account Key is <strong>required</strong></mat-error>
                    }
                </mat-form-field>
            }

            @if(authType.value === 'sas') {
                <mat-form-field class="page-form__form-field">
                    <mat-label>SAS Token</mat-label>

                    <input 
                        id="sasToken"
                        type="text"
                        matInput 
                        appSecureInput
                        formControlName="sasToken">                            

                    @if ((sasToken.touched || wasSubmitted()) && sasToken.hasError('required')) {
                        <mat-error>SAS token is <strong>required</strong></mat-error>
                    }
                </mat-form-field>
            }

            @if(authType.value === 'entra-id') {
                <mat-form-field class="page-form__form-field">
                    <mat-label>Managed Identity Client Id (optional)</mat-label>

                    <input 
                        id="managedIdentityClientId"
                        type="text"
                        matInput
                        formControlName="managedIdentityClientId">
                </mat-form-field>
            }

            <mat-form-field class="page-form__form-field">
                <mat-label>Service Url</mat-label>

                <input 
                    id="serviceUrl"
                    type="text" 
                    matInput 
                    formControlName="serviceUrl" >
                
                @if ((serviceUrl.touched || wasSubmitted()) && serviceUrl.hasError('required')) {
                    <mat-error>Service Url is <strong>required</strong></mat-error>
                }

                @if ((serviceUrl.touched || wasSubmitted()) && serviceUrl.hasError('invalidUrl')){
                    <mat-error>Service Url is <strong>not valid</strong></mat-error>        
                }
            </mat-form-field>

            @if(couldNotConnect()){
                <mat-error>
                    Storage credentials are incorrect - test connection has failed
                </mat-error>        
            }

            <div class="page-form__section-title">
                Encryption:
            </div>
            
            <div class="page-form__encryption">
                <mat-radio-group
                    formControlName="encryption"
                    class="page-form__radio-group">
                    
                    <div class="page-form__radio-option">
                        <mat-radio-button value="none">No encryption</mat-radio-button>
                    </div>
            
                    <div class="page-form__radio-option">
                        <mat-radio-button value="managed">Managed encryption</mat-radio-button>
                    </div>
                </mat-radio-group>
            </div>
            <div class="mt-3 d-none-on-mobile"></div>

            <div class="page-form__actions"> 
                <button type="button" class="page-form__btn mr-1" mat-flat-button
                    aria-label="Cancel"
                    (click)="goToStorages()"
                    [disabled]="isLoading()">
                    Cancel
                </button>
                
                <button type="submit" class="page-form__btn" mat-flat-button
                    aria-label="Create storage"
                    [class.page-form__btn--disabled]="formGroup.invalid"
                    [class.page-form__btn--loading]="isLoading()"
                    [disabled]="isLoading()">
                    Create storage
                </button>
            </div>
        </form>
    </div>
</div>
