@let viewModeVal = viewMode();
@let isSearchActiveVal = isSearchActive();
@let node = folder();
@let canSelectVal = canSelect();
@let showFullPath = viewModeVal == 'show-only-selected' && node.item.isSelected();
@let pathText = showFullPath ? node.fullPath() : null;
@let hasSearchedChildren = viewModeVal == 'show-all' && node.searchedChildrenCount() > 0;
@let isFolderMarkedAsSelected = viewModeVal == 'show-all'
    && (node.item.isSelected() || node.isParentSelected())
    && !node.isExcluded() && !node.isParentExcluded();
@let isFolderExpanded = node.isExpanded() || hasSearchedChildren;

@let isSelectedChangedHandlerVal = isSelectedChangedHandler();
@let isExcludedChangedHandlerVal = isExcludedChangedHandler();
@let checkboxMouseDownHandlerVal = checkboxMouseDownHandler();
@let setFolderToRootHandlerVal = setFolderToRootHandler();


<div class="tree-node tree-node--expandable">
    <div class="node-content" (prefetch)="prefetchFolder()"
        [class.node-content--selected]="isFolderMarkedAsSelected"
        [class.node-content--selected-children]="node.selectedChildrenCount() > 0 && !isFolderExpanded">
        <div class="node-content__icon" (click)="onChevronClicked($event)">
            @if(isFolderExpanded) {
                <i class="icon icon-lg icon-lucide-chevron-down"></i>
            } @else {
                <i class="icon icon-lg icon-lucide-chevron-right"></i>
            }
        </div>

        <div class="node-name"  [class.vertical-spacing]="pathText" (dblclick)="setFolderToRootHandlerVal(node)">
            <div class="node-name__text" appMarqueeOnTruncate>
                <span class="node-name__inner">{{node.item.name()}}</span>
            </div>

            @if(pathText) {
                <div class="node-full-path" appMarqueeOnTruncate>
                    <span class="node-full-path__inner">{{pathText}}</span>
                </div>
            }
        </div>

        <div class="ml-auto">
            @if(canSelectVal && !isSearchActiveVal) {
                <div (click)="$event.stopPropagation()" (mousedown)="checkboxMouseDownHandlerVal($event)">
                    <app-tree-checkbox
                        [isSelected]="node.item.isSelected()"
                        [isExcluded]="node.isExcluded()"
                        [isParentSelected]="node.isParentSelected()"
                        [isParentExcluded]="node.isParentExcluded()"
                        (isSelectedChange)="isSelectedChangedHandlerVal(node, $event)"
                        (isExcludedChange)="isExcludedChangedHandlerVal(node, $event)">
                    </app-tree-checkbox>
                </div>
            }
        </div>
    </div>
</div>
