@import "./../../../styles/hover-switch.scss";
@import "./../../../styles/variables.scss";
@import "./../../../styles/nothing-to-show.scss";

.mat-tree {
    background-color: transparent !important;
}

.tree-node {
    &:not(:last-child) {
        margin-bottom: 0.5rem;
    }

    &--clickable {
        cursor: pointer;
    }
}

.node-content {
    display: flex;
    align-items: center;
    padding: 0.2rem 0.5rem 0.2rem 0.2rem;
    transition: background-color 0.2s;
    min-height: 38px;
    font-size: var(--company-medium-font);
    
    &:hover {
        outline: 1px solid var(--company-grey-accent);
        outline-offset: -1px;
        background-color: var(--company-blue-hover);
    }

    .action-btn {
        width: 30px !important;
        height: 30px !important;
        min-width: 30px !important;
    }

    &__icon {        
        margin-left: -0.2rem;
        padding-left: 0.2rem;
        cursor: pointer;

        i {
            padding: 0.3rem;
            border-radius: 50%;

            &:hover {
                background-color: var(--company-grey-accent);
            }
        }
    } 

    &--excluded {
        opacity: 0.5;
    }
    
    &--selected {
        background-color: var(--company-blue-selected);
        outline: 1px solid var(--company-background);
        outline-offset: -1px;
    }

    &--selected-children {
        background-color: var(--company-blue-selected);
        outline: 1px solid var(--company-background);
        outline-offset: -1px;
    }
}

.vertical-spacing {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.nested-node {
    padding-left: 40px;
}

.invisible {
    display: none !important;
}

.node-name {
    margin-left: 0.5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.node-full-path {
    font-size: 0.75rem;
    color: var(--company-grey-font);
}

.file-size {
    margin-left: 16px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
}

.file-node {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
    gap: 0.5rem;
    overflow: hidden;
    z-index: 0;
    padding-left: 0.3rem;

    @media(max-width: $mobile-breakpoint) {
        .icon-xl {
            font-size: 1.5rem;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        padding-right: 1.5rem;
        flex-grow: 1;
    }

    &__details {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-grow: 1;

        z-index: 1;
    }

    &__name {
        overflow-wrap: anywhere;
        padding-right: 1rem;
    }

    &__subtitle {
        font-size: var(--company-small-font);
        color: var(--company-grey-font);
        white-space: nowrap;
    }    
}

.nested-node {
    padding-left: 20px !important;
}