@let viewModeVal = viewMode();

<div #host
     class="tree-host"
     [style.height.px]="totalHeightPx()">

    @for (row of renderedRows(); track row.node.item.externalId) {
        <div class="virtual-row"
             [style.top.px]="row.offset"
             [style.height.px]="row.height"
             [style.padding-left.px]="row.depth * 20">

            @if(row.node.type == 'file') {
                <app-file-tree-node
                    [file]="row.node"
                    [canSelect]="canSelect()"
                    [viewMode]="viewModeVal"
                    [isSearchActive]="isSearchActive()"
                    [showThumbnails]="showThumbnails()"
                    [isProcessing]="processingFileIds().has(row.node.item.externalId)"
                    [getThumbnailUrl]="getThumbnailUrl()"
                    [fileClickedHandler]="fileClickedHandler"
                    [isSelectedChangedHandler]="isSelectedChangedHandler"
                    [isExcludedChangedHandler]="isExcludedChangedHandler">
                </app-file-tree-node>
            } @else {
                <app-folder-tree-node
                    [folder]="row.node"
                    [canSelect]="canSelect()"
                    [viewMode]="viewModeVal"
                    [isSearchActive]="isSearchActive()"
                    [fileClickedHandler]="fileClickedHandler"
                    [isSelectedChangedHandler]="isSelectedChangedHandler"
                    [isExcludedChangedHandler]="isExcludedChangedHandler"
                    [loadFolderChildrenHandler]="loadFolderChildrenHandler"
                    [prefetchFolderHandler]="prefetchFolderHandler"
                    [setFolderToRootHandler]="setFolderToRootHandler">
                </app-folder-tree-node>
            }
        </div>
    }
</div>


@if(viewModeVal == 'show-only-selected' && !isAnyItemSelected()) {
    <div class="nothing-to-show">
        <div class="nothing-to-show__label">
            Nothing is selected
        </div>
    </div>
}

@if(viewModeVal == 'show-all') {
    @let searchTooManyResultsCounterVal = searchTooManyResultsCounter();

    @if(nodesCount() == 0) {
        <div class="nothing-to-show">
            <div class="nothing-to-show__label">
                There are no files
            </div>
        </div>
    } @else if(searchTooManyResultsCounterVal > 0) {
        <div class="nothing-to-show">
            <div class="nothing-to-show__label">
                There are too many results ({{searchTooManyResultsCounterVal}}). Please be more specific.
            </div>
        </div>
    } @else if(hasSearchGivenNoResults()) {
        <div class="nothing-to-show">
            <div class="nothing-to-show__label">
                No files matching search query
            </div>
        </div>
    }
}
