@use './../../styles/variables.scss' as variables;

@forward "./../../styles/hover-switch.scss";
@forward "./../../styles/app-header.scss";
@forward "./../../styles/top-bar.scss";
@forward "./../../styles/covered.scss";
@forward "./../../styles/top-nav-btn.scss";
@forward "./../../styles/action-text-btn.scss";
@forward "./../../styles/item-bar.scss";
@forward "./../../styles/icon-merge.scss";

.account-actions {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 450px;
    margin: 0 auto;

    @media (max-width: variables.$mobile-breakpoint) {
        max-width: 100%;
    }
}