@use "./../styles/static-page-variables.scss" as staticPageVariables;
@use "./../../../styles/variables.scss" as variables;
@forward "./../styles/spacer.scss";
@forward "./../styles/static-page-variables.scss";
@forward "./../../../styles/main-container.scss";

.not-found-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__header {
        font-size: 3rem;
        font-family: staticPageVariables.$headerFontFamily;
        font-weight: 400;
        margin: 0;

        @media (max-width: variables.$mobile-breakpoint) {
            font-size: 2rem;
        }
    }

    .icon {
        font-size: 10rem;

        @media (max-width: variables.$mobile-breakpoint) {
            font-size: 5rem;
        }
    }

}