@import "./../../../../../styles/questionaire.scss";
@import "./../../../../../styles/mobile-display.scss";

.email-picker {
    padding: 2rem;   
}

.example-full-width {
    width: 100%;
}

.mat-mdc-form-field-error-wrapper {
    padding: 0 !important;
}
