@if(canEdit()) {
    @if(isEditing()) {
        <div class="txt-editor"
            (click)="$event.stopPropagation()">
            <input class="txt-editor__input"
                autofocus
                type="text"
                inputmode="text"
                autocomplete="off"
                autocorrect="off"
                autocapitalize="off"
                spellcheck="false"
                selectAllText
                [(ngModel)]="newValue"
                (ngModelChange)="adjustInputWidth()"
                (blur)="save()"
                (keyup.enter)="save()"
                (keyup.escape)="editingStopped.emit()"
                [style.width.px]="inputWidth()">

                <span  #mirrorSpan
                    class="txt-editor__mirror-span"
                    [innerText]="newValue">
                </span>
        </div>
    } @else {
        <div class="text-frame text-frame--desktop"
            (dblclick)="startEditing(); $event.stopPropagation()"
            (click)="$event.stopPropagation()">
            <div class="text text--editable"
                #m1="marqueeTruncate" appMarqueeOnTruncate
                [matTooltip]="m1.isTruncated() ? tooltipText() : ''"
                [matTooltipShowDelay]="500">
                <span class="text__inner" [innerHTML]="displayHtml()"></span>
            </div>
        </div>

        <div class="text-frame text-frame--mobile"
            (click)="startEditing(); $event.stopPropagation()">
            <div class="text text--editable"
                #m2="marqueeTruncate" appMarqueeOnTruncate
                [matTooltip]="m2.isTruncated() ? tooltipText() : ''"
                [matTooltipShowDelay]="500">
                <span class="text__inner" [innerHTML]="displayHtml()"></span>
            </div>
        </div>
    }
} @else {
    <div class="text-frame">
        <div class="text"
            #m3="marqueeTruncate" appMarqueeOnTruncate
            [matTooltip]="m3.isTruncated() ? tooltipText() : ''"
            [matTooltipShowDelay]="500">
            <span class="text__inner" [innerHTML]="displayHtml()"></span>
        </div>
    </div>
}
