@if(canEdit()) {
    @if(isEditing()) {
        <div class="txt-editor"
            (click)="$event.stopPropagation()">
            <input class="txt-editor__input"
                autofocus
                type="text"
                inputmode="text"
                autocomplete="off"
                autocorrect="off"
                autocapitalize="off"
                spellcheck="false"
                selectAllText
                [(ngModel)]="newValue"
                (ngModelChange)="adjustInputWidth()"
                (blur)="save()"
                (keyup.enter)="save()"
                (keyup.escape)="cancelEditing()"
                [style.width.px]="inputWidth()">

                <span  #mirrorSpan
                    class="txt-editor__mirror-span"
                    [innerText]="newValue">
                </span>
        </div>
    } @else {
        <div class="text-frame text-frame--desktop"
            (dblclick)="startEditing(); $event.stopPropagation()"
            (click)="$event.stopPropagation()">
            <div class="text text--editable" appMarqueeOnTruncate>
                @if(hasHighlight()) {
                    <span class="text__inner" [innerHTML]="displayHtml()"></span>
                } @else {
                    <span class="text__inner">{{visibleText()}}</span>
                }
            </div>
        </div>

        <div class="text-frame text-frame--mobile"
            (click)="startEditing(); $event.stopPropagation()">
            <div class="text text--editable" appMarqueeOnTruncate>
                @if(hasHighlight()) {
                    <span class="text__inner" [innerHTML]="displayHtml()"></span>
                } @else {
                    <span class="text__inner">{{visibleText()}}</span>
                }
            </div>
        </div>
    }
} @else {
    <div class="text-frame">
        <div class="text" appMarqueeOnTruncate>
            @if(hasHighlight()) {
                <span class="text__inner" [innerHTML]="displayHtml()"></span>
            } @else {
                <span class="text__inner">{{visibleText()}}</span>
            }
        </div>
    </div>
}
