@forward "./../../../styles/item-bar.scss";
@forward "./../../../styles/mobile-display.scss";

:host {
    display: block;
}

.drag-handle {
    cursor: grab;
    opacity: 0.6;

    &:hover {
        opacity: 1;
    }

    &:active {
        cursor: grabbing;
    }
}
