@let fileVal = file();

<div class="item-bar item-bar--fixed-height flex-row"
    appCtrlClick
    (ctrlClick)="toggleSelection()"
    (shiftClick)="shiftClicked.emit()"
    [class.item-bar--selected]="fileVal.isSelected()"
    [class.item-bar--opaque]="fileVal.isCut()"
    [class.item-bar--clickable]="canPreview()"
    [class.item-bar--locked]="fileVal.isLocked()"
    (click)="!($event.ctrlKey || $event.metaKey || $event.shiftKey) && canPreview() && showPreview()">
    <div class="item flex-grow"
        [class.item--highlighted]="isHighlighted()">
        
        @if(canReorder()) {
            <i class="icon icon-xl icon-lucide-menu drag-handle"
                matTooltip="Drag to reorder"
                [matTooltipShowDelay]="800"
                [matTooltipDisabled]="dragState.isDragging()"
                (click)="!($event.ctrlKey || $event.metaKey || $event.shiftKey) && $event.stopPropagation()"></i>
        }
        
        @if(isProcessing()) {
            <span class="item__thumb item__thumb--loading" matTooltip="Processing…">
                <span class="item__spinner"></span>
            </span>
        } @else if(miniThumbnailUrl(); as thumbUrl) {
            <img class="item__thumb"
                [src]="thumbUrl"
                loading="lazy"
                decoding="async"
                alt=""
                (error)="onThumbnailError(thumbUrl)" />
        } @else {
            <i class="icon icon-xl icon-{{ fileVal.extension| fileIcon }}"></i>
        }

        <div class="item__details">                   
            <app-editable-txt #nameTxt
                [text]="fileVal.name()"
                [isEditing]="fileVal.isNameEditing()"
                [canEdit]="canEditFileName()"
                [highlightPhrase]="highlightPhrase()"
                (valueChange)="saveFileName($event)"
                (editingStarted)="file().isNameEditing.set(true)"
                (editingStopped)="file().isNameEditing.set(false)">
            </app-editable-txt>

            <div class="item__subtitle">
                @if(showPath()) {
                    <div>{{ filePath() || 'All files'}}</div>
                }
                <div>
                    @if(fileVal.extension) {
                        {{ fileVal.extension }} | {{ fileVal.sizeInBytes | storageSize }}
                    } @else {
                        {{ fileVal.sizeInBytes | storageSize }}
                    }
                    @let formattedDate = (fileVal.createdAt | date: 'mediumDate') ?? '';
                    @if(formattedDate) {
                        | <span [matTooltip]="(fileVal.createdAt | date: 'medium') ?? ''"
                                [matTooltipShowDelay]="500"
                                matTooltipClass="plk-date-tooltip">{{ formattedDate }}</span>
                    }
                </div>
            </div>
        </div>
    </div>

    @if(!hideActions() && !fileVal.isCut() && !fileVal.isLocked()) {
        <div class="item-bar__actions" 
            (click)="$event.stopPropagation()">
    
            @if(fileVal.isNameEditing()) {
                <app-action-btn
                    tooltip="Save name"
                    icon="icon-lucide-check"
                    (clicked)="nameTxt.save()">                    
                </app-action-btn>
            } @else {        
                @let permissionsValue = permissions();

                @if(canLocate()) {
                    <app-action-btn
                        tooltip="Locate"
                        icon="icon-lucide-search"
                        (prefetch)="operations().prefetchFolderFunc(fileVal.folderExternalId)"
                        (clicked)="locate()">                    
                    </app-action-btn>
                }
            
                @if(permissionsValue.allowDownload && !hideDownloadAction()) {
                    <app-action-btn
                        tooltip="Download"
                        icon="icon-nucleo-download"
                        (clicked)="downloadFile()">
                    </app-action-btn>
                }            
                
                @if(isSelectCheckboxVisible()) {
                    <div (click)="$event.stopPropagation()">
                        <mat-checkbox
                            [ngModel]="fileVal.isSelected()"
                            (change)="toggleSelection()">
                        </mat-checkbox>
                    </div>
                }
            }
        </div>
    }
</div>