@let fileInPreviewVal = fileInPreview();
@let pendingBulkUploadVal = pendingBulkUpload();
@let uploadApiVal = uploadsApi();
@let viewModeVal = viewMode();
@let isListViewMode =viewModeVal == 'list-view';

<input #fileUpload
    type="file" 
    class="file-input"
    multiple="multiple"
    (change)="onFilesSelected($event, fileUpload)">

<div #stickyWrapper class="sticky-wrapper">
    @if(fileInPreviewVal) {
        <div class="title-header">
            <div>
                <app-editable-txt #nameTxt
                    [text]="fileInPreviewVal.name()"
                    [isEditing]="fileInPreviewVal.isNameEditing()"                
                    [canEdit]="allowFileRename() || fileInPreviewVal.wasUploadedByUser"
                    (valueChange)="saveFileName(fileInPreviewVal, $event)"
                    (editingStarted)="fileInPreviewVal.isNameEditing.set(true)"
                    (editingStopped)="fileInPreviewVal.isNameEditing.set(false)">                    
                </app-editable-txt>
            </div>

            <div class="flex-row flex-gap-05 ml-auto">      
                @if(fileInPreviewIsEditMode()) {
                    <app-action-btn
                        tooltip="Cancel"
                        icon="icon-lucide-xmark"
                        [disabled]="isFileInPreviewBeingSaved()"
                        (clicked)="fileInPreviewCancelContentChanges()">
                    </app-action-btn>
                    
                    <app-action-btn
                        tooltip="Save"
                        icon="icon-lucide-check"
                        [isLoading]="isFileInPreviewBeingSaved()"
                        [disabled]="isFileInPreviewBeingSaved()"
                        (clicked)="fileInPreviewSaveContentChanges()">
                    </app-action-btn>
                } @else {
                    @if(fileInPreviewVal.isNameEditing()) {
                        <app-action-btn
                            tooltip="Save name"
                            icon="icon-lucide-check"
                            (clicked)="nameTxt.save()">                    
                        </app-action-btn>
                    } @else {
                        @if(fileInPreviewCanEdit()) {
                            <app-action-btn
                                tooltip="Edit file"
                                icon="icon-nucleo-compose"
                                (clicked)="fileInPreviewIsEditMode.set(true)">
                            </app-action-btn>
                        }

                        @if(allowDownload() || fileInPreviewVal.wasUploadedByUser) {
                            <app-action-btn
                                tooltip="Download"
                                icon="icon-nucleo-download"
                                (clicked)="downloadFile(fileInPreviewVal)">
                            </app-action-btn>
                        }
        
                        @if(allowFileDelete() || fileInPreviewVal.wasUploadedByUser) {
                            <app-action-btn
                                tooltip="Delete"
                                icon="icon-nucleo-remove"
                                appConfirmOperation 
                                [operationItem]="'the file'"
                                [verb]="'delete'"
                                [isOperationDanger]="true"
                                (confirmedClick)="deleteFile(fileInPreviewVal)">
                            </app-action-btn>
                        }
        
                        <div class="ml-1 flex-row flex-gap-05">  
                            <app-action-btn
                                tooltip="Show previous"
                                icon="icon-lucide-chevron-left"        
                                [(isMouseOver)]="isMouseOverPreviewPreviousBtn"                                              
                                [disabled]="!isPreviousForPreviewAvailable()"
                                (clicked)="showPreviousInPreview()">
                            </app-action-btn>
        
                            <app-action-btn
                                tooltip="Close preview"
                                icon="icon-lucide-xmark"
                                (clicked)="closeFilePreview()">
                            </app-action-btn>
        
                            <app-action-btn
                                tooltip="Show next"
                                icon="icon-lucide-chevron-right"      
                                [(isMouseOver)]="isMouseOverPreviewNextBtn"                  
                                [disabled]="!isNextForPreviewAvailable()"
                                (clicked)="showNextInPreview()">
                            </app-action-btn>
                        </div>
                    }
                }                
            </div>
        </div>

        <div class="context-bar">        
            <app-folder-path
                [topFolderExternalId]="topFolderExternalId()"
                [selectedFolder]="selectedFolder()"
                (prefetchFolder)="prefetchFolder($event)"
                (openFolder)="openFolderByExternalId($event)"
                (currentFolderClick)="closeFilePreview()">        
            </app-folder-path>

            <div class="ml-auto">
                @if(isMouseOverPreviewPreviousBtn() && isPreviousForPreviewAvailable()) {
                    <strong>Previous:</strong> {{previousForPreview()?.name()}} 
                } @else if(isMouseOverPreviewNextBtn() && isNextForPreviewAvailable()) {
                    <strong>Next: </strong> {{nextForPreview()?.name()}}
                } @else {
                    {{ fileInPreviewVal.extension }} | {{ fileInPreviewVal.sizeInBytes| storageSize }}    
                }
            </div>           
        </div>
    } @else if(pendingBulkUploadVal) {
        <div class="title-header">
            <div>
                Bulk upload overview
            </div>

            <div class="flex-row flex-gap-05 ml-auto">      
                @if(!pendingBulkUploadVal.isStarted()) {
                    <app-action-btn                    
                        tooltip="Start upload"
                        icon="icon-nucleo-upload-2"
                        [disabled]="!pendingBulkUploadVal.isUploadEnabled()"
                        (clicked)="runBulkUpload()">
                    </app-action-btn>     
                } 

                <app-action-btn
                    tooltip="Cancel"
                    icon="icon-lucide-xmark"
                    (clicked)="closePendingBulkUpload()">
                </app-action-btn>
            </div>
        </div>

        <div class="context-bar">        
            <app-folder-path
                [topFolderExternalId]="topFolderExternalId()"
                [selectedFolder]="selectedFolder()"
                (prefetchFolder)="prefetchFolder($event)"
                (openFolder)="openFolderByExternalId($event)"
                (currentFolderClick)="closePendingBulkUpload()">        
            </app-folder-path>    

            <div class="ml-auto">
                Total upload size: {{totalBulkUploadSize() | storageSize}}
            </div>      
        </div>
    } @else {
        <div class="title-header title-header--responsive">
            <div class="title-header__path-row">
                <app-folder-path
                    [topFolderExternalId]="topFolderExternalId()"
                    [selectedFolder]="selectedFolder()"
                    (prefetchFolder)="prefetchFolder($event)"
                    (openFolder)="openFolderByExternalId($event)">
                </app-folder-path>
            </div>

            <div class="title-header__actions-row flex-row flex-gap-05"
                [class.title-header__actions-row--search-expanded]="isSearchExpandedOnMobile()">
                @if(isListViewMode) {
                    <span class="title-header__actions"
                        [class.title-header__actions--hidden-on-mobile]="isSearchExpandedOnMobile()">
                    @if(canBulkDownload()) {
                        <app-action-btn
                            tooltip="Download"
                            icon="icon-nucleo-download"
                            (clicked)="downloadSelectedItems()">
                        </app-action-btn>
                    }

                    @if(canBulkQuickShare()) {
                        <app-action-btn
                            tooltip="Share"
                            icon="icon-nucleo-share"
                            (clicked)="shareSelectedItems()">
                        </app-action-btn>
                    }

                    @if(canCreateBoxFromSelection()) {
                        <app-action-btn
                            tooltip="Share with box"
                            icon="icon-nucleo-box"
                            (clicked)="createBoxFromSelectedFolder()">
                        </app-action-btn>
                    }

                    @if(canBulkDelete()) {
                        <app-action-btn
                            tooltip="Delete"
                            icon="icon-nucleo-remove"
                            appConfirmOperation 
                            [operationItem]="'selected items'"
                            [verb]="'delete'"
                            [isOperationDanger]="true"
                            (confirmedClick)="deleteSelectedItems()">
                        </app-action-btn>
                    }
    
                    @if(canCutItems()){
                        <app-action-btn
                            tooltip="Cut"
                            icon="icon-nucleo-cut"                
                            (clicked)="cutSelectedItems()">
                        </app-action-btn>
                    }
    
                    @if(canPasteItems()){
                        <app-action-btn
                            tooltip="Paste"
                            icon="icon-nucleo-clipboard"
                            (clicked)="pasteCutItems()">
                        </app-action-btn>
                    }
    
                    @if(allowCreateFolder() && !isAnyItemSelected()) {
                        <app-action-btn
                            tooltip="Create new folder"
                            icon="icon-nucleo-folder-plus"
                            (clicked)="createNewFolder()">
                        </app-action-btn>
                    }
    
                    @if(allowUpload() && !isAnyItemSelected()){
                        <app-action-btn
                            tooltip="Upload files"
                            icon="icon-nucleo-upload-2"
                            (clicked)="startUpload(fileUpload)">
                        </app-action-btn>

                        @if(uploadApiVal && allowCreateFolder()) {
                            <app-action-btn
                                tooltip="Bulk zip upload"
                                icon="icon-nucleo-file-zip"
                                (clicked)="startBulkUpload()">
                            </app-action-btn>
                        }
                    }

                    </span>

                    @if(allowList()) {
                        <app-item-search
                            class="title-header__search"
                            [collapsibleOnMobile]="true"
                            [isExpanded]="isSearchExpandedOnMobile()"
                            [phrase]="searchPhrase()"
                            [debounce]="50"
                            [minimalLength]="1"
                            (searched)="searchPhrase.set($event)"
                            (closed)="isSearchExpandedOnMobile.set(false)">
                        </app-item-search>
                    }

                    <span class="title-header__actions title-header__actions--trailing"
                        [class.title-header__actions--hidden-on-mobile]="isSearchExpandedOnMobile()">
                    @if(allowList()) {
                        <app-action-btn
                            class="d-none-on-desktop"
                            tooltip="Search"
                            icon="icon-lucide-search"
                            (clicked)="openMobileSearch()">
                        </app-action-btn>
                    }

                    @if(canSelectAll()) {
                        <mat-checkbox
                            [matTooltip]="isAnyItemNotSelected() ? 'Select all' : 'Unselect all'"
                            [ngModel]="itemsCount() > 0 && !isAnyItemNotSelected()"
                            (change)="toggleAllItemsSelection()">
                        </mat-checkbox>
                    }
                    </span>
                } @else {
                    <span class="title-header__actions"
                        [class.title-header__actions--hidden-on-mobile]="isSearchExpandedOnMobile()">
                    @if(canBulkTreeDownload()) {
                        <app-action-btn
                            tooltip="Download"
                            icon="icon-nucleo-download"
                            (clicked)="downloadSelectedTreeItems()">
                        </app-action-btn>
                    }

                    @if(canBulkTreeQuickShare()) {
                        <app-action-btn
                            tooltip="Share"
                            icon="icon-nucleo-share"
                            (clicked)="shareSelectedTreeItems()">
                        </app-action-btn>
                    }

                    @if(canBulkTreeDelete()) {
                        <app-action-btn
                            tooltip="Delete"
                            icon="icon-nucleo-remove"
                            appConfirmOperation
                            [operationItem]="'selected items'"
                            [verb]="'delete'"
                            [isOperationDanger]="true"
                            (confirmedClick)="triggerSelectedTreeItemsDelete()">
                        </app-action-btn>
                    }
                    </span>

                    @if(allowList()) {
                        <app-item-search
                            class="title-header__search"
                            [collapsibleOnMobile]="true"
                            [isExpanded]="isSearchExpandedOnMobile()"
                            [phrase]="searchPhrase()"
                            [debounce]="50"
                            [minimalLength]="1"
                            (searched)="searchPhrase.set($event)"
                            (closed)="isSearchExpandedOnMobile.set(false)">
                        </app-item-search>
                    }

                    <span class="title-header__actions title-header__actions--trailing"
                        [class.title-header__actions--hidden-on-mobile]="isSearchExpandedOnMobile()">
                    @if(allowList()) {
                        <app-action-btn
                            class="d-none-on-desktop"
                            tooltip="Search"
                            icon="icon-lucide-search"
                            (clicked)="openMobileSearch()">
                        </app-action-btn>
                    }
                    </span>
                }
            </div>
        </div>

        @if(!hideContextBar()) {
            <div class="context-bar">
                @if(allowList()) {
                    <div class="context-row d-none-on-mobile-early">
                        <span class="context-label">View:</span>

                        <span class="context-item view-mode context-item--switch"
                            [class.view-mode--active]="viewModeVal == 'list-view'"
                            (click)="setViewMode('list-view')">
                            List
                            <i class="icon icon-lucide-check"></i>
                        </span>

                        |

                        <span class="context-item view-mode context-item--switch"
                            [class.view-mode--active]="viewModeVal == 'tree-view'"
                            (click)="setViewMode('tree-view')">
                            Tree
                            <i class="icon icon-lucide-check"></i>
                        </span>

                        <span class="context-label context-label--gap">Order:</span>
                        
                        <app-sort-menu
                            [mode]="sortMode()"
                            [direction]="sortDirection()"
                            [allowDateSort]="allowDateSort()"
                            (sortChanged)="onSortChanged($event)">
                        </app-sort-menu>
                    </div>

                    <app-display-menu
                        class="d-none-on-desktop-early"
                        [viewMode]="viewModeVal"
                        [sortMode]="sortMode()"
                        [sortDirection]="sortDirection()"
                        [allowDateSort]="allowDateSort()"
                        [allowList]="allowList()"
                        (viewModeChanged)="setViewMode($event)"
                        (sortChanged)="onSortChanged($event)">
                    </app-display-menu>
                }

                <div class="ml-auto context-counts">
                    @if(isListViewMode) {
                        @if(fileUploadManager.pendingQueueSize() > 0) {
                            <span class="context-item context-count context-count--queued"
                                matTooltip="Queued uploads">
                                <i class="icon icon-nucleo-upload context-count__icon"></i>
                                <span class="context-count__value">{{fileUploadManager.pendingQueueSize()}}</span>
                            </span>
                        }

                        @if(foldersCount() > 0) {
                            <span class="context-item context-item--btn context-count"
                                matTooltip="Folders"
                                (click)="toggleAllFolders()">
                                <i class="icon icon-nucleo-folder context-count__icon"></i>
                                <span class="context-count__value">
                                    @if(isAnyItemSelected()) {
                                        {{selectedFoldersCount()}}/{{foldersCount()}}
                                    } @else {
                                        {{foldersCount()}}
                                    }
                                </span>
                            </span>
                        }

                        @if(filesCount() > 0) {
                            <span class="context-item context-item--btn context-count"
                                matTooltip="Files"
                                (click)="toggleAllFiles()">
                                <i class="icon icon-nucleo-file context-count__icon"></i>
                                <span class="context-count__value">
                                    @if(isAnyItemSelected()) {
                                        {{selectedFilesCount()}}/{{filesCount()}}
                                    } @else {
                                        {{filesCount()}}
                                    }
                                </span>
                            </span>
                        }

                        @if(uploadsCount() > 0) {
                            <span class="context-item context-item--btn context-count"
                                matTooltip="Uploads"
                                (click)="toggleAllUploads()">
                                <i class="icon icon-nucleo-upload context-count__icon"></i>
                                <span class="context-count__value">
                                    @if(isAnyItemSelected()) {
                                        {{selectedUploadsCount()}}/{{uploadsCount()}}
                                    } @else {
                                        {{uploadsCount()}}
                                    }
                                </span>
                            </span>
                        }
                    } @else {
                        @let selectionSummary = treeSelectionSummary();

                        @if(selectionSummary.selectedFilesCount > 0 || selectionSummary.selectedFoldersCount > 0) {
                            <span class="context-item">
                                Selection: {{selectionSummary.selectedFilesCount}} {{selectionSummary.selectedFilesCount == 1 ? 'file' : 'files'}} ({{selectionSummary.totalSizeInBytes | storageSize}})
                            </span>

                            <div class="context-item context-item--short context-item--btn"
                                [matTooltip]="'Cancel selection'"
                                (click)="cancelTreeSelection()">
                                <i class="icon icon-lg icon-lucide-xmark"></i>
                            </div>
                            |
                        }

                        @let searchedFilesSelection = treeSearchedFilesSelection();

                        @if(searchedFilesSelection) {
                            <span class="context-item context-item--btn" (click)="toggleTreeSearchedFilesSelection()">
                                @if(searchedFilesSelection.selectedFiles > 0) {
                                    Matching files: {{searchedFilesSelection.selectedFiles}}/{{searchedFilesSelection.matchingFiles}}
                                } @else {
                                    Matching files: {{searchedFilesSelection.matchingFiles}}
                                }
                            </span> |
                        }

                        @let treeViewModeVal = treeViewMode();

                        @if(treeViewModeVal=='show-all') {
                            <div class="context-item context-item--btn"
                                [matTooltip]="'Show only selected'"
                                (click)="treeViewMode.set('show-only-selected')">
                                <i class="icon icon-xl icon-nucleo-selected-and-not"></i>
                            </div>
                        } @else {
                            <div class="context-item context-item--btn"
                                [matTooltip]="'Show all'"
                                (click)="treeViewMode.set('show-all')">
                                <i class="icon icon-xl icon-nucleo-only-selected"></i>
                            </div>
                        }
                    }
                </div>
            </div>
        }
    }
</div>

<div class="mt-1"></div>


<div class="explorer-content" 
    [class.explorer-content--const-height]="constHeightMode()"
    [class.explorer-content--no-overflow-y]="fileInPreviewVal">

    @if(fileInPreviewVal) {
        <app-file-inline-preview
            [file]="fileInPreviewVal"
            [operations]="operations"
            [fileOperations]="operations"
            [allowFileEdit]="allowFileEdit()"
            [allowPreviewComments]="allowPreviewComment()"
            [allowPreviewNotes]="allowPreviewNotes()"
            [integrations]="integrations()"
            [textractJobsStatusService]="textractJobStatusService"
            [isInEditMode]="fileInPreviewIsEditMode()"
            [commandsPipeline]="fileInlinePreviewCommandsPipeline">            
        </app-file-inline-preview>
    }

    @if(pendingBulkUploadVal && uploadApiVal) {
        <app-bulk-upload-preview
            [bulkUpload]="pendingBulkUploadVal"
            [folderExternalId]="selectedFolder()?.externalId ?? null"
            [uploadsApi]="uploadApiVal"
            [httpHeadersFactory]="operations"
            [foldersApi]="filesApi()"
            (foldersCreated)="addFoldersCreatedInBulkUpload($event)"
            (closed)="closePendingBulkUpload()">            
        </app-bulk-upload-preview>
    }

    <div [style.display]="(fileInPreviewVal || pendingBulkUploadVal || !isListViewMode) ? 'none' : 'unset'">
        @if(showFoldersSection()) {
            @let isFoldersExpandedVal = isFoldersExpanded();
            <section class="files-section">
                <div class="files-section__header" role="button" tabindex="0"
                    [attr.aria-expanded]="isFoldersExpandedVal"
                    (click)="toggleFoldersExpanded()"
                    (keydown.enter)="toggleFoldersExpanded()"
                    (keydown.space)="$event.preventDefault(); toggleFoldersExpanded()"
                    appDragOverStay
                    (appDragOverStay)="expandFoldersSection()">
                    <span class="files-section__title">Folders</span>
                    <span class="files-section__count files-section__count--clickable"
                        [matTooltip]="hasFolders() ? 'Select all folders' : ''"
                        (click)="$event.stopPropagation(); hasFolders() && toggleAllFolders()">
                        @if(isSearchActive()) {
                            {{filteredFoldersCount()}}/{{foldersCount()}}
                        } @else {
                            {{foldersCount()}}
                        }
                    </span>
                    @if(selectedFoldersCount() > 0) {
                        <span class="files-section__selected"
                            [matTooltip]="'Clear folders selection'"
                            (click)="$event.stopPropagation(); toggleAllFolders()">
                            <i class="icon icon-lucide-check"></i>{{selectedFoldersCount()}}
                        </span>
                    }

                    <i class="files-section__chevron icon"
                        [class.icon-lucide-chevron-down]="isFoldersExpandedVal"
                        [class.icon-lucide-chevron-right]="!isFoldersExpandedVal"></i>
                </div>

                @if(isFoldersExpandedVal) {
                    <div class="files-section__content">
                        <app-folders-list
                            [folders]="folders()"
                            [sortMode]="sortMode()"
                            [sortDirection]="sortDirection()"
                            [searchPhrase]="searchPhrase()"
                            [currentFolderExternalId]="selectedFolder()?.externalId ?? null"
                            [canReorder]="canReorder()"
                            [operations]="operations"
                            [hideActions]="hideItemsActions()"
                            [hideShareAction]="hideItemShareAction()"
                            [permissions]="folderPermissions()"
                            [isAnyNameEditPending]="isAnyNameEditPending()"
                            [filesApi]="filesApi()"
                            (deleted)="onFolderDeleted($event)"
                            (boxCreated)="createBoxFromFolder($event)">
                        </app-folders-list>

                        @if(allowCreateFolder()){
                            <div class="mt-2"></div>

                            <app-item-btn
                                title="Add new folder"
                                subtitle="Click here to create an empty folder!"
                                icon="icon-nucleo-folder-plus"
                                (clicked)="createNewFolder()">
                            </app-item-btn>
                        }
                    </div>
                }
            </section>
        }

        @if(showFilesSection()) {
            @let isFilesExpandedVal = isFilesExpanded();
            <section class="files-section" [class.drop-area__anchor]="allowUpload() && isFilesExpandedVal">
                <div class="files-section__header" role="button" tabindex="0"
                    [attr.aria-expanded]="isFilesExpandedVal"
                    (click)="toggleFilesExpanded()"
                    (keydown.enter)="toggleFilesExpanded()"
                    (keydown.space)="$event.preventDefault(); toggleFilesExpanded()"
                    appDragOverStay
                    (appDragOverStay)="expandFilesSection()">
                    <span class="files-section__title">Files</span>
                    <span class="files-section__count files-section__count--clickable"
                        [matTooltip]="hasFiles() ? 'Select all files' : ''"
                        (click)="$event.stopPropagation(); hasFiles() && toggleAllFiles()">
                        @if(isSearchActive()) {
                            {{filteredFilesCount()}}/{{filesCount()}}
                        } @else {
                            {{filesCount()}}
                        }
                    </span>
                    @if(selectedFilesCount() > 0) {
                        <span class="files-section__selected"
                            [matTooltip]="'Clear files selection'"
                            (click)="$event.stopPropagation(); toggleAllFiles()">
                            <i class="icon icon-lucide-check"></i>{{selectedFilesCount()}}
                        </span>
                    }
                    @if(hasUploads()) {
                        <span class="files-section__count-extra files-section__count--clickable"
                            [matTooltip]="'Select all uploads'"
                            (click)="$event.stopPropagation(); toggleAllUploads()">
                            +{{uploadsCount()}} uploading
                        </span>
                        @if(selectedUploadsCount() > 0) {
                            <span class="files-section__selected"
                                [matTooltip]="'Clear uploads selection'"
                                (click)="$event.stopPropagation(); toggleAllUploads()">
                                <i class="icon icon-lucide-check"></i>{{selectedUploadsCount()}}
                            </span>
                        }
                    }

                    <i class="files-section__chevron icon"
                        [class.icon-lucide-chevron-down]="isFilesExpandedVal"
                        [class.icon-lucide-chevron-right]="!isFilesExpandedVal"></i>
                </div>

                @if(isFilesExpandedVal) {
                    <div class="files-section__content">
                        <app-files-list
                            [files]="files()"
                            [sortMode]="sortMode()"
                            [sortDirection]="sortDirection()"
                            [searchPhrase]="searchPhrase()"
                            [currentFolderExternalId]="selectedFolder()?.externalId ?? null"
                            [canReorder]="canReorder()"
                            [operations]="operations"
                            [hideActions]="hideItemsActions()"
                            [hideDownloadAction]="hideItemDownloadAction()"
                            [permissions]="filePermissions()"
                            [isAnyNameEditPending]="isAnyNameEditPending()"
                            [filesApi]="filesApi()"
                            (deleted)="onFileDeleted($event)"
                            (previewed)="onFilePreviewed($event)">
                        </app-files-list>

                        @if(canUpload()) {
                            @for(upload of uploads(); track upload.externalId) {
                                <app-upload-item
                                    [fileUploadApi]="uploadApiVal"
                                    [httpHeadersFactory]="operations"
                                    [upload]="upload"
                                    [hideActions]="hideItemsActions()"
                                    (isSelectedChange)="upload.isSelected.set($event)"
                                    (selectionToggled)="onUploadSelectionToggled(upload)"
                                    (shiftClicked)="onUploadShiftClicked(upload)">
                                </app-upload-item>
                            }

                            <div class="mt-2"></div>

                            <app-item-btn
                                title="Upload some files"
                                subtitle="Click here to upload more files!"
                                icon="icon-nucleo-upload-2"
                                (clicked)="startUpload(fileUpload)">
                            </app-item-btn>

                            @if(uploadApiVal && allowCreateFolder()) {
                                <div class="mt-2"></div>

                                <app-item-btn
                                    title="Bulk zip upload"
                                    subtitle="Click here to upload files in bulk!"
                                    icon="icon-nucleo-file-zip"
                                    (clicked)="startBulkUpload()">
                                </app-item-btn>
                            }

                            @if(isDragging()) {
                                <div class="drop-area"
                                    appDropFiles
                                    (filesDropped)="onFilesDropped($event)">
                                    <i class="icon icon-nucleo-upload-2"></i>

                                    <div class="drop-area__message">
                                        Drop files here!
                                    </div>
                                </div>
                            }
                        }
                    </div>
                }
            </section>
        }

        @if(isEmptyMessageVisible()){
            <div class="nothing-to-show">
                <div class="nothing-to-show__label">
                    This folder is empty
                </div>
            </div>

            <div class="mt-2"></div>
        }

    </div>

    @let isFileTreeViewActive = !(fileInPreviewVal || pendingBulkUploadVal || isListViewMode);

    <div [style.display]="isFileTreeViewActive ? 'unset' : 'none'">
        <app-file-tree-view  #fileTreeView
            [topLevelItems]="explorerTreeItems()"
            [canSelect]="canSelectItems()"
            [allowDownload]="allowDownload()"
            [isActive]="isFileTreeViewActive"
            [viewMode]="treeViewMode()"
            [searchPhrase]="searchPhrase()"
            [sortMode]="sortMode()"
            [sortDirection]="sortDirection()"
            (fileClicked)="onFilePreviewed($event)"
            (fileDownloadClicked)="onDownloadFile($event)"
            (folderPrefetchRequested)="onFolderTreePrefetchRequested($event)"
            (folderLoadRequested)="onFolderTreeLoadRequested($event)"
            (folderSetToRoot)="onFolderTreeSetToRoot($event)"
            (selectionStateChanged)="onFileTreeSelectionStateChanged($event)"
            (itemsDeleted)="onFileTreeSelectedItemsDelete($event)"
            (searchRequested)="onTreeSearchRequested($event)"
            (searchedFilesSelectionChanged)="onTreeSearchedFilesSelectionChanged($event)">
        </app-file-tree-view>
    </div>   
</div>
