@use "./../../../styles/variables.scss" as variables;

@forward "./../../../styles/hover-switch.scss";
@forward "./../../../styles/app-header.scss";
@forward "./../../../styles/top-bar.scss";
@forward "./../../../styles/covered.scss";
@forward "./../../../styles/top-nav-btn.scss";
@forward "./../../../styles/action-text-btn.scss";
@forward "./../../../styles/item-bar.scss";
@forward "./../../../styles/icon-merge.scss";

.account-actions {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 450px;
    margin: 0 auto;

    @media (max-width: variables.$mobile-breakpoint) {
        max-width: 100%;
    }
}

.mat-mdc-form-field-error-wrapper {
    padding: 0 !important;
}

.copy-secret-btn {
    width: 218px;
    align-self: center;
}

.mfa-enabled {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    .icon {
        font-size: 10rem;
        color: var(--company-grey-accent);
        margin-left: auto;
        margin-right: auto;
        color: #77BA1C;

        @media (max-width: variables.$mobile-breakpoint) {
            font-size: 6rem;
        }
    }
}

.recovery-codes-info {
    font-size: var(--company-medium-font);
    color: var(--company-grey-font);
}