<div class="questionaire">
    <div class="questionaire__title">
        Edit DigitalOcean Spaces Storage Details
    </div>

    <form class="questionaire__form" (submit)="onCreateStorage()" [formGroup]="formGroup">
        <mat-form-field class="questionaire__form-field">
            <mat-label>Access key</mat-label>

            <input 
                id="accessKey"
                type="text" 
                matInput 
                appSecureInput
                formControlName="accessKey">

            @if ((accessKey.touched || wasSubmitted()) && accessKey.hasError('required')) {
                <mat-error>Access key is <strong>required</strong></mat-error>
            }    
        </mat-form-field>

         <mat-form-field class="questionaire__form-field">
            <mat-label>Secret key</mat-label>

            <input 
                id="secretKey"
                type="text"
                matInput 
                appSecureInput
                formControlName="secretKey">                            
            
            @if ((secretKey.touched || wasSubmitted()) && secretKey.hasError('required')) {
                <mat-error>Secret key is <strong>required</strong></mat-error>
            }
        </mat-form-field>

        <app-region-input class="questionaire__form-field"
            [regions]="regions"
            [wasSubmitted]="wasSubmitted()"
            formControlName="region">                    
        </app-region-input>


        @if(couldNotConnect()){
            <mat-error>
                Storage credentials are incorrect - test connection has failed
            </mat-error>        
        }

        <div class="mt-3 d-none-on-mobile"></div>

        <div class="questionaire__actions"> 
            <button type="button" class="questionaire__btn mr-1" mat-flat-button
                aria-label="Cancel"
                (click)="cancel()"
                [disabled]="isLoading()">
                Cancel
            </button>
            
            <button type="submit" class="questionaire__btn" mat-flat-button
                [class.questionaire__btn--disabled]="formGroup.invalid"
                [class.questionaire__btn--loading]="isLoading()"
                aria-label="Save changes"
                [disabled]="isLoading()">
                Save changes
            </button>
        </div>
    </form>
</div>
