@forward "./../../styles/hover-switch.scss";
@forward "./../../styles/app-header.scss";
@forward "./../../styles/top-bar.scss";
@forward "./../../styles/covered.scss";
@forward "./../../styles/top-nav-btn.scss";

.setup-explanation {
    font-size: 1rem;
    opacity: 0.8;
    padding-left: 0.5rem;
}

.step {
    padding-left: 1rem;

    &__number {
        font-weight: 600;
    }
}
