<div class="op-details__section-title">
    Destination
</div>

<div class="op-details__item"
    [class.op-details__item--clickable]="workspaceExternalId()"
    (click)="openDestination()">
    <i class="icon icon-xl icon-nucleo-folder op-details__icon"></i>
    <div class="op-details__text">
        @if(details().destinationName) {
            <div class="op-details__name">{{ details().destinationName }}</div>
            @if(details().destinationPath) {
                <div class="op-details__path">{{ details().destinationPath }}</div>
            }
        } @else {
            <div class="op-details__name">Workspace root</div>
        }
    </div>
</div>

@if(details().folders.length > 0) {
    <div class="op-details__section-title">
        Folders - moved with everything inside
    </div>

    @for(folder of details().folders; track folder.externalId) {
        <div class="op-details__item"
            [class.op-details__item--clickable]="workspaceExternalId()"
            (click)="openFolder(folder)">
            <i class="icon icon-xl icon-nucleo-folder op-details__icon"></i>
            <div class="op-details__text">
                <div class="op-details__name">{{ folder.name }}</div>
                @if(folder.path) {
                    <div class="op-details__path">{{ folder.path }}</div>
                }
            </div>
        </div>
    }
}

@if(details().files.length > 0) {
    <div class="op-details__section-title">
        Files
    </div>

    @for(file of details().files; track file.externalId) {
        <div class="op-details__item"
            [class.op-details__item--clickable]="workspaceExternalId()"
            (click)="openFile(file)">
            <i class="icon icon-xl icon-nucleo-file op-details__icon"></i>
            <div class="op-details__text">
                <div class="op-details__name">{{ file.name }}</div>
                @if(file.path) {
                    <div class="op-details__path">{{ file.path }}</div>
                }
            </div>
        </div>
    }
}
