@forward "./../../../styles/hover-switch.scss";
@forward "./../../../styles/app-header.scss";
@forward "./../../../styles/top-bar.scss";
@forward "./../../../styles/covered.scss";
@forward "./../../../styles/top-nav-btn.scss";
@forward "./../../../styles/action-text-btn.scss";
@forward "./../../../styles/item-bar.scss";
@forward "./../../../styles/icon-merge.scss";

.sign-up-radio {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 0.5rem;

    .mat-mdc-radio-button.mat-accent {
        --mdc-radio-selected-focus-icon-color: black !important;
        --mdc-radio-selected-hover-icon-color: black !important;
        --mdc-radio-selected-icon-color: black !important;
        --mdc-radio-selected-pressed-icon-color: black !important;
    }
}  