<div class="workspace-number-config">  
    <mat-select 
        class="workspace-number-config__select workspace-number-config__select--wide" 
        [(ngModel)]="selectedLimit"
        (selectionChange)="onLimitChange()">

        @for (item of limitOptions; track $index) {
            <mat-option [value]="item">
                {{item}}
            </mat-option>
        }
    </mat-select>

    @if(selectedLimit == 'Limited number') {
        <div>
            <input 
                class="workspace-number-config__input"
                type="number"
                placeholder="Max workspaces..."
                [ngModel]="maxNumberValue"
                (input)="onNumberValueChange($event)"
                [class.workspace-number-config__input--error]="hasError">
                
            @if(hasError) {
                <div class="workspace-number-config__error">{{errorMessage}}</div>
            }
        </div>
    }
</div>