@forward "./../../styles/top-bar.scss";
@forward "./../../styles/covered.scss";
@forward "./../../styles/icon-merge.scss";
@forward "./../../styles/top-nav-btn.scss";
@forward "./../../styles/item-bar.scss";
@forward "./../../styles/mobile-display.scss";
@forward "./../shared/menu/app-menu.scss";

.top-bar {
    .top-nav-btn:first-of-type {
        margin-left: auto;
    }
}

.mat-badge-content {
    font-size: var(--company-small-font) !important;
    bottom: 15px !important;
    left: 43px !important;
    z-index: 1 !important;
    background-color: var(--company-blue-selected) !important;
    color: black !important;
}