<div class="questionaire">
    <div class="questionaire__title">Quick share is live</div>

    <div class="questionaire__subtitle">"{{ data.name }}"</div>

    <div class="questionaire__content">
        <div class="questionaire__text">
            Forward this link through your own channel. Anyone with the link can download
            whatever you selected (subject to the password / expiration / limits you set).
        </div>

        <div class="public-link"
            [class.public-link--copied]="copied()"
            (click)="copyLink()">
            <i class="icon icon-lg icon-nucleo-link public-link__leading"></i>
            <span class="public-link__url">{{ data.url }}</span>
            <span class="public-link__copy">
                <i class="icon icon-sm" [class.icon-nucleo-copy]="!copied()" [class.icon-lucide-check]="copied()"></i>
            </span>
        </div>
    </div>

    <div class="questionaire__actions">
        <button type="button" class="questionaire__btn" mat-flat-button (click)="onClose()">
            Done
        </button>
    </div>
</div>
