<div class="questionaire">
    <div class="questionaire__title">Quick share is live</div>

    <div class="questionaire__subtitle">"{{ data.name }}"</div>

    <div class="questionaire__content">
        <div class="questionaire__text">
            Forward this link through your own channel. Anyone with the link can download
            whatever you selected (subject to the password / expiration / limits you set).
        </div>

        <div class="link-row">
            <div class="link-row__url" [title]="data.url">{{ data.url }}</div>
            <button type="button" class="questionaire__btn" mat-flat-button (click)="copyLink()">
                {{ copied() ? 'Copied' : 'Copy' }}
            </button>
        </div>
    </div>

    <div class="questionaire__actions">
        <button type="button" class="questionaire__btn" mat-flat-button (click)="onClose()">
            Done
        </button>
    </div>
</div>
