<div class="op-details__section-title">
    Share link - view details
</div>

<div class="op-details__item"
    [class.op-details__item--clickable]="workspaceExternalId()"
    (click)="openShareLink()">
    <i class="icon icon-xl icon-nucleo-link op-details__icon"></i>
    <div class="op-details__text">
        <div class="op-details__name">{{ details().name ?? details().shareLinkExternalId }}</div>
        <div class="op-details__path">Public download link</div>
    </div>
</div>

<div class="op-details__notice">
    <i class="icon icon-md icon-nucleo-info op-details__notice-icon"></i>
    <span>Reads this link's settings - nothing is changed.</span>
</div>
