@let viewModeVal = viewMode();
@let node = file();
@let showFullPath = viewModeVal == 'show-only-selected' && node.item.isSelected();
@let pathText = showFullPath ? node.fullPath() : null;
@let isFileMarkedAsSelected = viewModeVal == 'show-all'
    && (node.item.isSelected() || node.isParentSelected())
    && !node.isExcluded() && !node.isParentExcluded();

@let fileClickedHandlerVal = fileClickedHandler();
@let isSelectedChangedHandlerVal = isSelectedChangedHandler();
@let isExcludedChangedHandlerVal = isExcludedChangedHandler();
@let checkboxMouseDownHandlerVal = checkboxMouseDownHandler();

<div class="tree-node" [class.tree-node--clickable]="node.canPreview()">
    <div class="node-content" [class.node-content--selected]="isFileMarkedAsSelected">
        <div class="file-node" (click)="!($event.shiftKey || $event.ctrlKey || $event.metaKey) && node.canPreview() && fileClickedHandlerVal(node)">

            @if(isProcessing()) {
                <span class="file-node__thumb file-node__thumb--loading" matTooltip="Processing…">
                    <span class="file-node__spinner"></span>
                </span>
            } @else if(miniThumbnailUrl(); as thumbUrl) {
                <img class="file-node__thumb"
                    [src]="thumbUrl"
                    loading="lazy"
                    decoding="async"
                    alt=""
                    (error)="onThumbnailError(thumbUrl)" />
            } @else {
                <i class="icon icon-xl icon-{{ node.item.extension | fileIcon }}"></i>
            }

            <div class="file-node__body" [class.vertical-spacing]="pathText">
                <div class="file-node__details">
                    <div class="file-node__name" appMarqueeOnTruncate>
                        <span class="file-node__name-inner">
                            @if(node.isSearched()) {
                                <span [innerHTML]="node.nameWithHighlight()"></span>
                            } @else {
                                {{node.item.name()}}{{node.item.extension}}
                            }
                        </span>
                    </div>
        
                    <div class="file-node__subtitle ml-auto">
                        {{ node.item.sizeInBytes | storageSize }}
                    </div>    
                </div>

                @if(pathText) {
                    <div class="node-full-path" appMarqueeOnTruncate>
                        <span class="node-full-path__inner">{{pathText}}</span>
                    </div>
                }
            </div>
        </div>
        
        <div class="ml-auto">
            @if(canSelect()) {
                <div (click)="$event.stopPropagation()" (mousedown)="checkboxMouseDownHandlerVal($event)">
                    <app-tree-checkbox
                        [isSelected]="node.item.isSelected()"
                        [isExcluded]="node.isExcluded()"
                        [isParentSelected]="node.isParentSelected()"
                        [isParentExcluded]="node.isParentExcluded()"
                        (isSelectedChange)="isSelectedChangedHandlerVal(node, $event)"
                        (isExcludedChange)="isExcludedChangedHandlerVal(node, $event)">                            
                    </app-tree-checkbox>
                </div>
            }
        </div>
    </div>
</div>